<div class="add-card-modal">
    <h1>Aufgabe Hinzufügen</h1>
    <div class="add-modal-inner">
        <div class="modal-sections">
            <label for="objective-titel">Titel:</label>
            <input class="add-modal-inp" name="objective" type="text" placeholder="Aufgabe Eintragen">
        </div>
        <div class="modal-sections">
            <label for="objective-discription">Beschreibung:</label>
            <textarea class="add-modal-inp" name="" id="add-modal-textarea" style="width: 400px; max-width: 400px;"></textarea>
        </div>
        <div class="modal-sections">
            <label for="">Ausführender:</label>
            <input class="add-modal-inp" type="text" name="Mittarbeiter" id="add-modal-employe" placeholder="enter text">
        </div>
        <div class="modal-sections">
            <label for="">Section:</label>
            <select class="add-modal-inp" name="" id="">
                <option value="todo-section">Zu Erledigen</option>
                <option value="in-progress-section">In Bearbeitung</option>
                <option value="to-rev-section">In Review</option>
                <option value="done-section">Erledigt</option>
            </select>
        </div>
        <div class="add-modal-buttons">
            <button id="add-modal-ok-btn">OK</button>
            <button id="add-modal-cancel-btn">Abbrechen</button>
        </div>
    </div>
</div>
<div class="todo-main-container">
    <h1>Work Plan</h1>
    <span></span>
    <div class="plan-container">
        <div class="plan-head-btn-list">
            <div class="plan-head-sections">
                <button class="plan-head-items" id="add-item-to-plan">Aufgabe Hinzufügen</button>
            </div>
        </div>
        <div class="to-do-wrapper">
            <div class="to-do-container">
                <div class="to-do-container-section">
                    <h2>Zu Erledigen</h2>
                    <div class="to-dos" id="todo-section"></div>
                </div>
                <div class="to-do-container-section">
                    <h2>In Bearbeitung</h2>
                    <div class="to-dos" id="in-progress-section"></div>
                </div>
                <div class="to-do-container-section">
                    <h2>Review/QA</h2>
                    <div class="to-dos" id="to-rev-section"></div>
                </div>
                <div class="to-do-container-section">
                    <h2>Erledigt</h2>
                    <div class="to-dos" id="done-section">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        font-family: var(--MainFont);
    }

    /*------------------------------>>>>MODAL_SECTION<<<<----------------------------*/
    .add-card-modal {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        align-items: center;
        min-width: 600px;
        min-height: 400px;
        width: 100px;
        border-radius: 10px;
        background-color: gray;
        box-shadow: 2px 2px 10px black;
        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;
    }

    .add-card-modal.was-active:not(.active) {
        animation: card-fade-out 0.5s ease forwards;
    }

    .add-card-modal.active {
        animation: card-fade-In 0.5s ease forwards;
    }

    @keyframes card-fade-In {
        from {
            visibility: hidden;
            opacity: 0;
        } to {
            visibility: visible;
            opacity: 1;
        }
    }

    @keyframes card-fade-out {
        from {
            visibility: visible;
            opacity: 1;
        } to {
            visibility: hidden;
            opacity: 0;
        }
    }

    .add-modal-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 550px;
        min-height: 330px;
        background-color: rgb(211, 211, 211);
        border-radius: 5px;
        box-shadow: inset 2px 2px 10px black;
        gap: 20px;
    }

    .modal-sections {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*--------------------------->>>>WORKPLAN_MAIN_CONTAINER<<<<------------------------*/
    .todo-main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    span {
        margin-top: 10px;
        margin-bottom: 20px;
        display: flex;
        background-color: black;
        width: 50%;
        height: 1px;
    }

    .plan-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1200px;
    }

    .plan-head-btn-list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .plan-head-sections {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .plan-head-items {
        padding: 5px;
        border: 1px solid black;
        background-color: gray;
        min-height: 38px;
        font-size: 1rem;
        border-radius: 10px;
        transition: all .5s;
    }

    .plan-head-items:hover {
        color: white;
        background-color: black;
    }

    .to-do-wrapper {
        display: flex;
        margin-top: 50px;
        overflow-x: auto;
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
    }


    .to-dos {
        display: flex;
        flex-direction: column;
        padding: 10px;
        border: 1px solid black;
        border-radius: 10px;
        min-height: 300px;
        min-width: 300px;
        align-items: center;
        gap: 20px;
        max-height: 600px;
        overflow-y: auto;
    }

    @media (max-height: 700px) {
        .to-dos {
            max-height: 300px;
        }
    }

    .to-do-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .to-do-container-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ::-webkit-scrollbar {
        width: 100%;
        height: 10px;
        border-radius: 20px;
        background-color: gray;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgb(211, 211, 211);
        border-radius: 20px;
        border: 3px solid gray;
    }
</style>