<div class="main-container">
    <div class="main-wrapper">
        <section class="header-sec-container">
            <div class="header-content">
                <h1>Piep´s File System</h1>
            </div>
        </section>
        <span class="spacer"></span>
        <section class="file-display-container">
            <button id="folder-Down-btn">Back</button>
            <div class="file-header-box">
                <h1>Files</h1>
            </div>
            <div class="file-display-box">
                <div class="file-box"></div> <!--INJECT_FILES_HERE-->
            </div>
            <!--NEED TO ADD FOLDER CONTAINER ALSO!!!!-->
        </section>
        <section class="folder-display-container">
            <div class="folder-header-box">
                <h1>Folders</h1>
            </div>
            <div class="folder-display-box">
                <div class="folder-box"></div> <!--INJECT_FOLDERS_HERE-->
            </div>
        </section>
        <span class="spacer"></span>
        <section class="create-folder-container">
            <h1>Create Folder</h1>
            <div class="create-folder-wrapper">
                <input id="create-folder-input" type="text" placeholder="Enter Folder Name">
                <button id="create-folder-btn">Create Folder</button>
            </div>
        </section>
        <span class="spacer"></span>
        <section class="upload-file-container">
            <h1>Upload File</h1>
            <div class="upload-file-wrapper">
                <div id="progressContainer">
                    <p>Upload Status: </p>
                    <div id="uploadProgressBar" style="width: 0%; height: 20px; background-color: green;"></div>
                </div>
                <input id="upload-file-input" type="file" placeholder="Enter Folder Name">
                <button id="upload-file-btn">Upload</button>
            </div>
        </section>
    </div>
</div>
<style>
    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }

    .spacer {
        width: 80%;
        height: 1px;
        background-color: black;
    }

    .main-container {
        display: flex;
        width: 100%;
        max-height: 90vh; /*MAYBE CHANGE THET!!!*/
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        overflow-y: auto;
    }
    .main-wrapper {
        display: inherit;
        flex-direction: inherit;
        align-items: inherit;
        gap: 20px;
    }

    .file-display-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .file-header-box {
        display: inherit;
        flex-direction: inherit;
        align-items: inherit;
    }

    .file-display-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: gray;
        border: 1px solid black;
        border-radius: 10px;
        padding: 20px;
        margin: 10px;
        min-width: 50vw;
        max-width: 50vw;
        box-shadow: 2px 2px 5px black;
    }

    .file-elem {
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .file-elem p {
        transition: all 0.5s;
        cursor: pointer;
    }

    .file-elem p:hover {
        color: white;
    }

    .file-elem-buttons {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .file-elem-buttons button {
        all: unset;
        border: 1px solid black;
        box-shadow: 2px 2px 5px black;
        border-radius: 5px;
        padding-left: 5px;
        padding-right: 5px;
        transition: all 0.5s;
    }

    .file-elem-buttons button:hover {
        background-color: black;
        color: white;
        box-shadow: inset 0px 0px 5px rgb(255, 255, 255);
    }

    .file-elem-buttons button:active {
        background-color: white;
        color: black;
    }

    /*--------------*/
    .folder-display-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .folder-header-box {
        display: inherit;
        flex-direction: inherit;
        align-items: inherit;
    }

    .folder-display-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: gray;
        border: 1px solid black;
        border-radius: 10px;
        padding: 20px;
        margin: 10px;
        min-width: 50vw;
        max-width: 50vw;
        box-shadow: 2px 2px 5px black;
    }

    .folder-elem {
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .folder-elem p {
        transition: all 0.5s;
        cursor: pointer;
    }

    .folder-elem p:hover {
        color: white;
    }

    .folder-elem-buttons {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .folder-elem-buttons button {
        all: unset;
        border: 1px solid black;
        box-shadow: 2px 2px 5px black;
        border-radius: 5px;
        padding-left: 5px;
        padding-right: 5px;
        transition: all 0.5s;
    }

    .folder-elem-buttons button:hover {
        background-color: black;
        color: white;
        box-shadow: inset 0px 0px 5px rgb(255, 255, 255);
    }

    .folder-elem-buttons button:active {
        background-color: white;
        color: black;
    }

    #folder-Down-btn {
        all: unset;
        border: 1px solid black;
        box-shadow: 2px 2px 5px black;
        border-radius: 5px;
        border-top-left-radius: 100px;
        padding-left: 15px;
        padding-right: 15px;
        transition: all 0.5s;
        margin-bottom: 10px;
    }

    #folder-Down-btn:hover {
        background-color: black;
        color: white;
        box-shadow: inset 0px 0px 5px rgb(255, 255, 255);
    }

    #folder-Down-btn:active {
        background-color: white;
        color: black;
    }

    .create-folder-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .create-folder-wrapper {
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: gray;
        min-width: 50vw;
        max-width: 50vw;
        box-shadow: 2px 2px 5px black;
        border: 1px solid black;
        border-radius: 10px;
        gap: 15px;
    }

    .create-folder-container input {
        min-width: 300px;
        height: 28px;
        text-align: center;
        width: 200px;
        align-self: center;
        box-shadow: 2px 2px 5px black;
        background-color: rgb(211, 211, 211);
    }

    .create-folder-container button {
        all: unset;
        border: 1px solid black;
        box-shadow: 2px 2px 5px black;
        border-radius: 5px;
        padding-left: 15px;
        padding-right: 15px;
        transition: all 0.5s;
        width: 150px;
        height: 28px;
        margin-bottom: 10px;
        text-align: center;
        align-self: center;
    }

    .create-folder-container button:hover {
        background-color: black;
        color: white;
    }

    .create-folder-container button:active {
        background-color: white;
        color: black;
    }

    .upload-file-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }
    /*----------------------------->>>>FILE_CONTAINER<<<<--------------------------*/

</style>